body{
			/*width: 1920px;
  			height: 14417px;*/
			background-color: #141414
		}

.Login-SignUp_iphonexspacegrey_portrait {
  width: 846px;
  height: 846px;
  object-fit: contain;
  position: absolute;
  left: 178px;
  top: 464px;
}

.Home-1_iphonexspacegrey_portrait {
  width: 847px;
  height: 867px;
  object-fit: contain; 
  position: absolute;
  left: 0px;
  top: 287px;

}

.The-app-for-getting-your-life-together {
  width: 609px;
  height: 156px;
  font-family: Roboto;
  font-size: 64px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  position: absolute;
  left: 917px;
  top: 390px;
}
.new-kind-para{
  width: 609px;
  height: 109px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: #acacac;
  position: absolute;
  left: 917px;
  top: 598px;
}

.get-beta-access-but{

  width: 232px;
  height: 82px;
  border-radius: 15px;
  background-color: #ffffff;
  position: absolute;
  left: 917px;
  top: 773px;

}

.Get-Beta-Access {

	  width: 61px;
  height: 29px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.96;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  position: absolute;
  left: 1255px;
  top: 800px;

}


.video-but{

  width: 174px;
  height: 82px;
  border-radius: 15px;
  background-color: #4e4e4e;
  position: absolute;
  left: 1176px;
  top: 773px;
}



.video{

    width: 134px;
  height: 22px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.61;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  position: absolute;
  left: 966px;
  top: 803px;

}

  #Rectangle-17 {
  width: 1150px;
  height: 400px;
  border-radius: 50px;
  background-color: #ff6363;
  position: absolute;
  left: 200px;
  top: 1480px;
}

.JobsMockup {
  width: 675px;
  height: 400px;
  object-fit: contain;
  position: absolute;
  left: 815px;
  top: 1480px;
  border-radius: 50px;
}

.Rectangle-19 {
  width: 500px;
  height: 980px;
  border-radius: 20px;
  background-color: #202020;
  position: absolute;
  left: 200px;
  top: 2499px;
}

.Rectangle-20 {
  width: 500px;
  height: 980px;
  border-radius: 20px;
  background-color: #202020;
  position: absolute;
  left: 800px;
  top: 2499px;
}


.Rectangle-21 {
  width: 500px;
  height: 241px;
  background-color: #2c2c2c;
  position: absolute;
  left: 200px;
  top: 3238px;
  border-radius: 20px;
}

.Rectangle-22 {
  width: 500px;
  height: 241px;
  background-color: #2c2c2c;
  position: absolute;
  left: 800px;
  top: 3238px;
  border-radius: 20px;
}

.Rectangle-26 {
  width: 500px;
  height: 241px;
  background-color: #2c2c2c;
  position: absolute;
  left: 200px;
  top: 4273px;
  border-radius: 20px;
}

.Rectangle-27 {
  width: 500px;
  height: 241px;
  background-color: #2c2c2c;
  position: absolute;
  left: 800px;
  top: 4273px;
  border-radius: 20px;
}



.Rectangle-25 {
  width: 500px;
  height: 980px;
  border-radius: 20px;
  background-color: #202020;
  position: absolute;
  left: 200px;
  top: 3534px;
}

.Rectangle-23 {
  width: 500px;
  height: 980px;
  border-radius: 20px;
  background-color: #202020;
  position: absolute;
  left: 800px;
  top: 3534px;
}

.Home-1_iphonexspacegrey_portrait2 {
   width: 887px;
  height: 887px;
  object-fit: contain;
  border-radius: 50px;
  position: absolute;
  left: 2px;
  top: 2560px;
}



.Search--1 {
  width: 887px;
  height: 887px;
  object-fit: contain;
  border-radius: 50px;
  position: absolute;
  left: 610px;
  top: 2560px;
}


.Search2 {
  width: 887px;
  height: 887px;
  object-fit: contain;
  border-radius: 50px;
  position: absolute;
  left: 2px;
  top: 3600px;
}

.Login2 {
  width: 846px;
  height: 846px;
  object-fit: contain;
  position: absolute;
  left: 610px;
  top: 3600px;
}


.Path-423 {
  width: 142.7px;
  height: 0;
  border: solid 5px #acacac;
  position: absolute;
  left: 670px;
  top: 4650px;
}

 #Rectangle-18 {
  width: 1150px;
  height: 400px;
  border-radius: 50px;
  background-color: #b1e67b;
  position: absolute;
  left: 200px;
  top: 4800px;
}

.JobsMockup2 {
  width: 675px;
  height: 400px;
  object-fit: contain;
  position: absolute;
  left: 62px;
  top: 4800px;
  border-radius: 50px;
}


.Rectangle-100 {
  width: 500px;
  height: 980px;
  border-radius: 20px;
  background-color: #202020;
  position: absolute;
  left: 200px;
  top: 5500px;
}

.Rectangle-101 {
  width: 500px;
  height: 980px;
  border-radius: 20px;
  background-color: #202020;
  position: absolute;
  left: 800px;
  top: 5500px;
}


.Rectangle-102 {
  width: 500px;
  height: 980px;
  border-radius: 20px;
  background-color: #202020;
  position: absolute;
  left: 200px;
  top: 6535px;
}

.Rectangle-103 {
  width: 500px;
  height: 980px;
  border-radius: 20px;
  background-color: #202020;
  position: absolute;
  left: 800px;
  top: 6535px;
}



.Rectangle-104 {
  width: 500px;
  height: 241px;
  background-color: #2c2c2c;
  position: absolute;
  left: 200px;
  top: 7272px;
  border-radius: 20px;
}

.Rectangle-105 {
  width: 500px;
  height: 241px;
  background-color: #2c2c2c;
  position: absolute;
  left: 800px;
  top: 7272px;
  border-radius: 20px;
}


.Rectangle-106 {
  width: 500px;
  height: 241px;
  background-color: #2c2c2c;
  position: absolute;
  left: 200px;
  top: 6240px;
  border-radius: 20px;
}

.Rectangle-107 {
  width: 500px;
  height: 241px;
  background-color: #2c2c2c;
  position: absolute;
  left: 800px;
  top: 6240px;
  border-radius: 20px;
}


.Home-1_iphonexspacegrey_portrait3 {
   width: 887px;
  height: 887px;
  object-fit: contain;
  border-radius: 50px;
  position: absolute;
  left: 2px;
  top: 6600px;
}


.Search--3 {
  width: 887px;
  height: 887px;
  object-fit: contain;
  border-radius: 50px;
  position: absolute;
  left: 610px;
  top: 6600px;
}


.Home-1_iphonexspacegrey_portrait4 {
   width: 887px;
  height: 887px;
  object-fit: contain;
  border-radius: 50px;
  position: absolute;
  left: 2px;
  top: 5570px;
}


.Search4 {
  width: 887px;
  height: 887px;
  object-fit: contain;
  border-radius: 50px;
  position: absolute;
  left: 610px;
  top: 5570px;
}


.Path-424 {
  width: 142.7px;
  height: 0;
  border: solid 5px #acacac;
  position: absolute;
  left: 670px;
  top: 7650px;
}


  #Rectangle-19 {
  width: 1150px;
  height: 400px;
  border-radius: 50px;
  background-color: #a97be6;
  position: absolute;
  left: 200px;
  top: 7800px;
}